#game-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info-message-container {
  height: 16px;
  margin-bottom: 35px;
}

.info-message {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}

.default-color {
  color: #FF6600;
}

.success-color {
  color: #32BF00;
}

.fail-color {
  color: #CC3300;
}

#digits-container {
  display: flex;
}

#new-match-btn-container {
  margin-top: 22px;
  height: 42px;
}

.new-match-btn {
  width: 130px;
  height: 42px;
  background: linear-gradient(180deg, #434854 0%, #9E9E9E 100%);
}

.new-match-btn:active {
  opacity: 0.8;
}

.refresh-icon {
  margin-right: 8px;
  width: 12px;
}

@media only screen and (max-width: 550px) {
  #game-container {
    margin-top: 90px;
  }

  #new-match-btn-container {
    margin-top: 56px;
  }
}